[build]
builder = "nixpacks"

[build.nixpacks]
aptPkgs = ["openssl"]

[deploy]
startCommand = "npm start"
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
